#welcome{
    text-align: center;
    max-width: 400px;
}

#welcome h2,
#welcome p{
    margin-bottom: 1rem;
    color: #ffffff;
}

#welcome p{
    color: #ccbf33;
    font-weight: bold;
}

#welcome img{
    margin-top: 1rem;
    max-width: 400px;
}