*{
  padding: 0;
  margin: 0;
  font-family: "Raleway";
  color: white;
}

body,
html{
  min-height: 100vh;
  height: 100%;
  background-color: #01051f;
}

img{
  max-width: 100%;
}

button{
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  padding: .8rem 1.5rem;
  background: linear-gradient(
    90deg,
    rgb(141, 14, 187) 0%,
    rgb(84, 96, 232) 100%);
    border-radius: 25px;
    border: none;
}

button:hover {
  background: linear-gradient(
    90deg,
    rgb(232, 116, 84) 0%,
    rgb(222, 205, 53) 100%
  );
}